@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #201b2c;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #f0ffffde;
}

nav.homepage {
    margin-left: 75px;
    width: calc(100% - 75px);
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    transition: margin-left .5s, width .5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu_lateral.expandir ~ nav.homepage {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.container {
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: #77ffc0; /* Verde claro padrão do projeto */
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}

.option {
    background: #2f2841; /* Fundo roxo do card */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    color: #f0ffffde;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f0ffffde;
}

input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869; /* Fundo roxo do input */
    color: #f0ffffde;
    font-size: 1rem;
    box-shadow: 0px 5px 15px #00000040;
    outline: none;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
    box-shadow: 0px 0px 0px 3px #00ff88, 0px 5px 15px #00000040; /* Foco Neon */
}

input[type="text"]::placeholder {
    color: #f0ffff94;
}

p {
    text-align: center;
    color: #f0ffff94;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 16px;
    margin: 10px 0 0 0;
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00ff88; /* Verde Neon padrão */
    border: none;
    border-radius: 8px;
    color: #2b134b; /* Texto roxo escuro */
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #00e077;
    transform: translateY(-2px);
}

/* Estilo específico para o botão de sair */
.logout-section {
    margin-top: 20px;
    text-align: center;
}

.logout-btn {
    background: #ff6b6b; /* Vermelho */
    color: #fff;
}

.logout-btn:hover {
    background: #ff5252;
}

@media (max-width: 768px) {
  nav.homepage .container {
    margin-top: 20px;
  }

  nav.homepage {
    margin-left: 0;
    width: 100%;
    padding: 15px;
  }
}
